<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>表单处理实战</title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="container">
			<h2 style="text-align: center;color: #007BFF;">用户管理</h2>
			<form class="form-horizontal">
				<div class="form-group row">
					<label for="inputname" class="col-sm-2 col-form-label">用户名:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputname" v-model="userarr.name" placeholder="请输入用户名">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputage" class="col- col-sm-2 col-form-label">年龄:</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="inputage" v-model="userarr.age" placeholder="请输入年龄">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputaddr" class="col-sm-2 col-form-label">家庭住址:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputaddr" v-model="userarr.addres" placeholder="请输入家庭住址">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputdate" class="col-sm-2 col-form-label">日期:</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="inputdate" v-model="userarr.date" placeholder="日期">
					</div>
				</div>
				<button type="reset" class="btn btn-warning">重置</button>
				<button type="button" class="btn btn-primary" v-on:click="add()">添加</button>
			</form>

			<hr>
			<h2 style="color: #007BFF;">用户列表</h2>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th><input type="checkbox" v-model="allcheckstatus" v-on:click="allcheck"></th>
						<th>序号</th>
						<th>姓名</th>
						<th>年龄</th>
						<th>家庭住址</th>
						<th>时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(data,index) in userslist">
						<td><input type="checkbox" v-model="data.checked" v-on:click="data.checked=!data.checked" /></td>
						<td>{{index+1}}</td>
						<td>{{data.name}}</td>
						<td>{{data.age}}</td>
						<td>{{data.addres}}</td>
						<td>{{data.date}}</td>
						<td>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delmodal" v-on:click="indexid=index">删除</button>
						</td>
					</tr>
					<tr>
						<td colspan="7">
							<button type="button" class="btn btn-danger" v-on:click="alldel">删除选中</button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- delModal -->
			<div class="modal fade" id="delmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
			 style="margin-top: 15%;">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<h2>是否确定要删除{{userslist[indexid]?userslist[indexid].name:''}}记录？</h2>
							<h2>是否确定要删除此记录？</h2>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="del()">确定</button>
						</div>
					</div>
				</div>
			</div>
			<!-- updateModal -->


			
		</div>


<a href="事件.html">NEXT事件</a>
	</body>

	<script type="text/javascript">
		var vm = new Vue({
			el: '.container',
			data: {
				userslist: [{
						name: 'isme',
						age: '23',
						addres: '天津市',
						date: '2019/03/23'
					},
					{
						name: 'isTom',
						age: '20',
						addres: '深圳市',
						date: '2019/03/01'
					},
					{
						name: 'isJack',
						age: '24',
						addres: '上海市',
						date: '2019/03/15'
					},
					{
						name: 'isTony',
						age: '29',
						addres: '南京市',
						date: '2019/03/29'
					}
				],
				indexid: -1, //操作数据id
				allcheckstatus: false, //全选状态
				userarr: {}, //添加数据暂存对象
			},
			methods: {
				//为数组中的json对象添加checked属性,初始化checked值为false
				upchecked() {
					for (i = 0; i < this.userslist.length; i++) {
						this.userslist[i].checked = false;
					}
					console.log(this.userslist);
				},
				//添加方法
				add() {
					this.userslist.push(this.userarr); //添加数据到列表
					this.userarr = {};
				},
				//删除方法
				del() {
						this.userslist.splice(this.indexid, 1);
				},
				//删除选中
				alldel(){
					
				},
				//全选/反选
				allcheck() {
					if (this.allcheckstatus === false) { //判断全选按钮状态是否为true
						console.log('点击了全选');
						console.log(this.userslist + this.allcheckstatus);
						for (i = 0; i < this.userslist.length; i++) {
							this.userslist[i].checked = true; //循环赋值
						}
						this.allcheckstatus = true; //更改全选按钮状态
					} else {
						console.log('点击了反选');
						console.log(this.userslist + this.allcheckstatus);
						for (i = 0; i < this.userslist.length; i++) {
							if (this.userslist[i].checked === true) { //判断当前行数据是否选中
								this.userslist[i].checked = false;
							} else {
								this.userslist[i].checked = true;
							}
						}
						this.allcheckstatus = false;
					}
				},






			}
		})
		vm.upchecked(); //调用初始化checked值方法
	</script>
</html>
